<ion-header>
    <ion-toolbar>
        <ion-title ion-align-center>Create a post</ion-title>
    </ion-toolbar>
</ion-header>
<!-- //Comment -->
<!-- hello -->

<ion-content>
    <form [formGroup]="form">
        <ion-grid>
            <ion-row>
                <ion-col>

                    <br>
                    <ion-item lines="full">
                        <ion-label position="floating">Full Name</ion-label>
                        <ion-input name="name" formControlName="name"></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-label position="floating">Are you a traveller or a requester?</ion-label>
                        <ion-select formControlName="custype">
                            <ion-select-option name="commuter" value="Commuter">Traveller</ion-select-option>
                            <ion-select-option name="requester" value="Requester">Requester</ion-select-option>
                        </ion-select>
                    </ion-item>


                    <ion-item>
                        <ion-label position="floating">Where are you traveling from?</ion-label>
                        <ion-select formControlName="travelfrom">
                            <ion-select-option name="US" value="United States">United States</ion-select-option>
                            <ion-select-option name="CA" value="Canada">Canada</ion-select-option>
                            <ion-select-option name="UK" value="United Kingdom">United Kingdom</ion-select-option>
                            <ion-select-option name="FR" value="France">France</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <br>
                    <ion-item lines="full">
                        <ion-label position="floating">City traveling from? (with State/Province)</ion-label>
                        <ion-input name="fromcity" formControlName="travelcity"></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-label position="floating">Where are you traveling to?</ion-label>
                        <ion-select formControlName="travelto">
                            <ion-select-option name="US" value="United States">United States</ion-select-option>
                            <ion-select-option name="CA" value="Canada">Canada</ion-select-option>
                            <ion-select-option name="UK" value="United Kingdom">United Kingdom</ion-select-option>
                            <ion-select-option name="FR" value="France">France</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <br>
                    <ion-item lines="full">
                        <ion-label position="floating">City traveling to? (with State/Province)</ion-label>
                        <ion-input name="tocity" formControlName="traveltocity"></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-label position="floating">Have you booked your tickets, yet?</ion-label>
                        <ion-select formControlName="booked">
                            <ion-select-option name="yes" value="Yes">Yes</ion-select-option>
                            <ion-select-option name="no" value="No">No</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <br>
                    <ion-item lines="full">
                        <ion-label position="floating">Email</ion-label>
                        <ion-input name="email" formControlName="email"></ion-input>
                    </ion-item>
                    <br>
                    <br>
                    <ion-item>
                        <ion-label>Travel Date?</ion-label>
                        <ion-datetime displayFormat="DD-MMM-YYYY" formControlName="traveldate" max="2022-12-31" min="2021-02-05" minmonth="feb"></ion-datetime>
                    </ion-item><br>
                    <ion-grid>
                        <!-- <ion-row>
                           <ion-col size='3' style="font-size:0.8em;font-weight:bolder;">
                             <strong>
                               PRE FIX
                             </strong>
                           </ion-col>
                           <ion-col size='9' style="font-size:0.8em;font-weight:bolder;">
                             <strong>
                               PHONE NUMBER
                             </strong>
                           </ion-col>
                        </ion-row> -->
                        <!-- <ion-row>
                            <ion-col size='3'>
                               <ion-input [(ngModel)]="prefix" placeholder="6012" type="tel" maxlength='4'></ion-input>
                            </ion-col>
                            <ion-col size='9'>
                               <ion-input [(ngModel)]="line" placeholder="2345678" type="tel"></ion-input>
                            </ion-col>
                       </ion-row> -->

                    </ion-grid>
                    <!-- <ion-button (click)="sendLoginCode()" color="primary" style="z-index:4;width:100%;">
                             <ion-icon name="chevron-forward" slot="end"></ion-icon>
                             SUBMIT
                    </ion-button> -->

                    <ion-grid>
                        <ion-row>
                            <ion-col style="width: 103%;">
                                <ion-item style="width: 103%;">
                                    <ion-label position="floating">Country code</ion-label>
                                    <ion-select [(ngModel)]="prefix" formControlName="intcode">
                                        <ion-select-option name="in" value="+91">+91</ion-select-option>
                                        <ion-select-option name="fr" value="+33" default>+33</ion-select-option>
                                        <ion-select-option name="usca" value="+1">+1</ion-select-option>
                                        <ion-select-option name="pak" value="+92">+92</ion-select-option>
                                        <ion-select-option name="uk" value="+61">+61</ion-select-option>
                                    </ion-select>
                                </ion-item>
                            </ion-col>
                            <ion-col style="flex-basis: 5em;">
                                <ion-item lines="full" style="flex-basis: 5em;">
                                    <ion-label position="floating"></ion-label>
                                    <ion-label position="floating">Phone Number</ion-label>
                                    <ion-input [(ngModel)]="line" name="phone" formControlName="phone"></ion-input>
                                </ion-item>
                            </ion-col>
                            
                        </ion-row>
                        <br><br><br><br>
                            <!-- Adding new OTP authentication -->
    
                        <!-- <button ion-button block (click)="send()">Send OTP</button>
                        <ion-input type="text" placeholder="Enter OTP" [(ngModel)]="code" formControlName="code"></ion-input>
                        <button ion-button block (click)="verify()">Verify</button> -->

                    </ion-grid>
                    <!-- <div class='ion-center' style="position:relative;z-index:10;width:100%;margin-left:2em;margin-right:auto;">
                        <div id="recaptcha-container"></div>
                    </div> -->
                    <br>

                    <br><br><br><br>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>



</ion-content>
<!-- <ion-row>
      <ion-col>
        <ion-button name="submit" color="danger" expand="block">Submit</ion-button>
      </ion-col>
    </ion-row> -->
    
<ion-fab vertical="bottom" horizontal="center" slot="fixed" (click)="onNewPost()">
    <!--(click)="sendLoginCode()" -->
    <ion-fab-button name="submit">
        <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
</ion-fab>















<!-- BLANK -->
<!-- <ion-item lines="full">
      <ion-label position="floating">Name</ion-label>
      <ion-input name="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input name="email" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">DOB</ion-label>
      <ion-input name="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Mobile</ion-label>
      <ion-input name="text" required></ion-input>
    </ion-item> -->

<!-- Radio buttons -->
<!-- <ion-radio-group lines="full">
      <ion-list-header>
        <ion-label>Gender</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Male</ion-label>
        <ion-radio slot="start" name="male" checked></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Female</ion-label>
        <ion-radio slot="start" name="female"></ion-radio>
      </ion-item>
    </ion-radio-group> -->

<!-- Checkboxes -->
<!-- <ion-list lines="full">
      <ion-list-header>
        <ion-label>Subjects</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>English</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Maths</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Science</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>History</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
    </ion-list> -->