<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
        </ion-buttons>
        <ion-title class="ion-text-center">Welcome Boss</ion-title>
    </ion-toolbar>
</ion-header>

<ion-app>
    <ion-content padding>



        <div class="inputs">
            <ion-input class="email-input" type="number" [(ngModel)]="email" placeholder="What's the passcode?"></ion-input>

        </div>
        <div class="btn-div">
            <ion-button class="login-btn" color="success" (click)="andar()" [disabled]="!email">
                Proceed
            </ion-button>
        </div>

    </ion-content>
</ion-app>