<ion-header>
  <ion-toolbar>
    <ion-title align="center">Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName="lemail" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="lpwd" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button color="secondary" expand="block" (click)="checkUser()">Sign In</ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>