.center{
    text-align: center;
    padding-top: 45%;
    padding-bottom: 45%;
}

.centercon{
    text-align: center;
    color: black;
    font-family: segoetitle;
}

.card1prop{
    // height: 50%;
    background-color: #fa6b0b;
    color: black;
    font-family: segoetitle;
    font-size: larger;
}

.card2prop{
    // height: 50%;
    background-color: green;
    color: black;
    font-family: segoetitle;
    font-size: larger;
}

.blacky{
    background-color: black;
}