<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true"> -->

        <ion-card class="ion-activated card1" (click)="commfun()">
            <p class="title">I'm the commuter</p>
            <p class="content">I'm travelling from one country <br> to another</p>
        </ion-card>
        <!-- //////// -->
        <ion-card class="ion-activated card2" (click)="ordfun()">
            <p class="title">I'm the orderer</p>
            <p class="content">I want something from another country<p>
        </ion-card>

