#bookmark{
  width: 100%;
  height: 10vw;
}

#bookmark-btn{
  top: 10vw;
}

.Interested-btn{
  background-color: rgb(50, 119, 50);
  // background-color: limegreen;
}

.Interested-btn-text{
  color: white;
  font-weight: bolder;
}

.purple{
  background-color: purple !important; 
}