.header {
  height: 4em;
}

.header-heading {
  font-size: 15px;
  padding-left: 10px;
  font-weight: bolder;
  color: white;
}

#bookmark {
    width: 100%;
    height: 10vw;
}

.locard {
  background-color: rgb(214, 146, 20);
  font-weight: bolder;
  color: white;
  width: 5em;
  left: 7.5em;
  bottom: 0.5em;
}

#bookmark-btn {
    top: 10vw;
}

.Interested-btn {
    background-color: rgb(50, 119, 50);
    // background-color: limegreen;
}

.Interested-btn-text {
    color: white;
    font-weight: bolder;
}

.purple {
    background-color: purple !important;
}

.invisibleText {
    color: black;
    font-size: 0.1px;
}

.card1 {
    height: 50%;
    // width: 100%;
    background-color: #fa6b0b;
    color: black;
    // font-family: segoetitle;
    // font-size: larger;
}

.card2 {
    height: 50%;
    // width: 100%;
    background-color: green;
    color: black;
    // font-family: segoetitle;
    // font-size: larger;
}

.title {
    text-align: center;
    font-size: 4vw;
    font-weight: bolder;
    // padding-top: 20vw;
}

.content {
    text-align: center;
    font-size: 3vw;
}
