<ion-header>
  <ion-toolbar>
    <ion-title>Processing..</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_x62chJ.json"  background="transparent"  speed="1"  style="width: 85vw; height: 70vw; padding-left: 5vw;"   loop autoplay></lottie-player>
  </div>
  <center>
    Please wait while we process your payment..
  </center>
</ion-content>
