
<ion-content class="auth-form ion-padding padding-vertical-6">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <img src="../../assets/shipicon.png">

        <ion-button [routerLink]="['/register']" expand="block" color="primary">Register</ion-button>

        <div class="divider line one-line">or</div>

        <div class="already">Already a user?</div>

        <ion-button [routerLink]="['/login']" expand="block" color="secondary">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
