<ion-content class="auth-form ion-padding padding-vertical-1">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <!-- <img src="../../assets/shipicon.png"> -->

        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets5.lottiefiles.com/packages/lf20_uhIxIg.json"  background="transparent"  speed="1"  style="width: 355px; height: 355px;"    autoplay></lottie-player>

        <ion-button [routerLink]="['/register']" expand="block" color="primary">Register</ion-button>

        <span class="divider line one-line">or</span>

        <span class="already">Already a user?</span>

        <ion-button [routerLink]="['/login']" expand="block" color="secondary">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
