.logo-signup{
  padding-top: 15vw;
}


.inputs{
  padding-top: 5vw;
}

.img-input{
  background-color: rgb(53, 54, 53);
  border-radius: 2vw;
  font-size: 3vw;
  color: rgb(190, 190, 190);
}
.name-input{
  top: 1vw;
  background-color: rgb(53, 54, 53);
  border-radius: 2vw;
  font-size: 6vw;
}

.email-input{
  top: 3vw;
  background-color: rgb(53, 54, 53);
  border-radius: 2vw;
  font-size: 6vw;
}

.pwd-input{
  top: 6vw;
  background-color: rgb(53, 54, 53);
  border-radius: 2vw;
  font-size: 6vw;
}

.rpwd-input{
  top: 9vw;
  background-color: rgb(53, 54, 53);
  border-radius: 2vw;
  font-size: 6vw;
}

.btn-div{
  padding-top: 12vw;
  padding-left: 10vw;
  padding-right: 10vw;
  
}

.signup-btn{
  // border-radius: 8vw; 
  color: #c8bfbf;
  font-size: 5vw;
  font-weight: bold;
  width: 100%;
  height: 12.5vw;
}

.text{
  color: #c8bfbf;
  font-size: 3vw;
  width: 100%;
  // height: 12.5vw;
  // padding-top: 1vw;
  padding-left: 18.5vw;

}


.message{
  color: #f1eded;
  font-size: 4.25vw;
  font-weight: bolder;
  width: 100%;
  height: 12.5vw;
  padding-top: 2vw;
  padding-left: 3.75vw;
  text-shadow: 2px 2px 8px rgb(48, 129, 223);

}